In [1]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model

In [11]:
df1=pd.read_csv("C:\\Users\\manish\\Downloads\\ml 1.csv")
df1

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
import math
median_bedrooms=math.floor(df1.bedrooms.median())
median_bedrooms

3

In [12]:
df1.bedrooms=df1.bedrooms.fillna(median_bedrooms)
df1

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [15]:
reg=linear_model.LinearRegression()
reg.fit(df1[['area','bedrooms','age']],df1.price)

LinearRegression()

In [16]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [17]:
reg.intercept_

383724.99999999994

In [19]:
reg.predict([[3000,3,40]])

C:\Users\manish\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([444400.])

In [20]:
3000*137.25+3*-26025+40*-6825+383724.99999999994

444399.99999999994