In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\manish\\Downloads\\archive (2)\\spam_ham_dataset.csv")
df.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [2]:
df.groupby('label').describe()

       text
      count unique                                                top freq
label
ham    3663   3234  Subject: calpine daily gas nomination\r\n>\r\n...   20
spam   1507   1329                                      Subject: \r\n   16

In [3]:
df['spam']=df['label'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  label                                               text  spam
0   ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3  spam  Subject: photoshop , windows , office . cheap ...     1
4   ham  Subject: re : indian springs\r\nthis deal is t...     0

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(df.text,df.spam,test_size=0.25)

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_count=v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [6]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,Y_train)

MultinomialNB()

In [8]:
X_test_count=v.transform(X_test)
model.score(X_test_count,Y_test)

0.9791183294663574

In [10]:
X_test_count

<1293x40632 sparse matrix of type '<class 'numpy.int64'>'
	with 104124 stored elements in Compressed Sparse Row format>

In [11]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb' ,MultinomialNB())
])

In [12]:
clf.fit(X_train,Y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [13]:
clf.score(X_test,Y_test)

0.9791183294663574